body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.post-div{background-color: #cccccc; padding: 15px; border-bottom: 1px solid #fff;}

.styel-div{margin-left: 40px;}

.style-hr{border: 3px solid #f76f6f; width: 70%;}

h1 {
    font-size: 100px;
    font-family: "BebasNeue";
    text-align: center;
    color: white;
    text-shadow: 2.5px 2.5px 10px #000000;
    padding-top: 10px;
}

h3 {
    font-size: 50px;
    font-family: "BebasNeue";
    text-align: left;
    color: grey;
    padding-top: 15px;
    padding-left: 100px;
    margin-bottom: 0px;    
}

.ptag{
    font-size: 25px;
    font-family: "BebasNeue";
    text-align: left;
    color: grey;
    padding-left: 100px;
    margin-top: 0px;    
}

/*--------------- Logge inn / lag bruker --------------------*/

form {text-align: center;}
    
input[type=text], input[type=password],input[type=email] {
    width: 25%;
    padding: 12px 20px;
    border-radius: 60% / 20%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0px auto 15px auto;
    box-shadow: 5px 10px 8px #888888;
}

input:hover {background-color: #f76f6f;}

.buttons {
    background-color: #ffff;
    color: black;
    padding: 14px 20px;
    border-radius: 60% / 20%;
    border: none;
    cursor: pointer;
    width: 17%;
    margin: 0px auto 15px auto;
    text-shadow: 2.5px 2.5px 10px #000000;
    font-size: 17px;
    box-shadow: 5px 10px 8px #888888;     
}

.small-button {
    background-color: #ffff;
    color: black;
    padding: 14px 20px;
    border-radius: 60% / 20%;
    border: none;
    cursor: pointer;
    width: 17%;
    margin: 0px auto 15px auto;
    text-shadow: 2.5px 2.5px 10px #000000;
    font-size: 17px;
    box-shadow: 5px 10px 8px #888888;     
}

.buttons:hover {background-color: #f76f6f;} 

.inpLabel {font-size: 17px;}

/* --------------- nav --------------------- */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
}

.navbarElem {
    float: left; 
    cursor: pointer;
}

.navbarElem a {  
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 4px solid lightgray;
    font-size: 20px;
}

.navbarElem a:hover {
    background-color: #f76f6f;
}

.active {
    background-color: #f76f6f;
    color: #ffffff;
}

.nav-bar-txt{
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    cursor: context-menu;
    font-size: 20px;
    text-align: right;
}

#numTxt2{font-style: italic;}


/*--------------- Forside/meny --------------------*/

.icons{
    margin: -120px 0px 40px 10px;
    padding-top: 0px;
    width: 15%
}

.small-icons{
    padding-top: 0px;
    padding-left: 10px;
    width: 4%
}

.small-icons:hover {
    cursor: pointer;
    transform: scale(1.7); 
}

.menuChoice {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 135px;
    background: white;
    border-radius: 40% / 10%;
    color: white;
    text-indent: .1em;
    transition: transform .2s;
    padding-left: 25px;
}

.menuChoice:hover {
    cursor: pointer;
    background-color: #f76f6f;
    color: #ffffff;
    box-shadow: 0 0 30px rgba(33,33,33,.5);
        -ms-transform: scale(1.5); 
        -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

/* --------------- lister opp posts i ny liste ---------------- */

.ul-list {    
    font-size: 2em;
    list-style: none;
    margin: 2em;
    padding: 0;
}
  
.bullets {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 0.8em;
    padding-top: 0em;
    position: relative;
}
        
.bullets::after {
    content: '';
    height: .4em;
    width: .4em;
    background: #f76f6f;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: .25em;
    left: 0;    
}

/* ------------ vis en liste, 2 kolonner------------- */

.column {
    float: left;
    width: 50%;
    padding: 10px; 
    margin-left: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row{box-sizing: border-box;}

/* --------------- Modal profil --------------------- */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #f76f6f;
    text-decoration: none;
    cursor: pointer;
}

/* --------------- diverse --------------------- */

#nameInp{
    background-color: lightgray;
    box-sizing: border-box;
    border: none;
    display: inline-block;
    margin-top: 40px;
    border-bottom: 2px solid #000000;
    padding: 4px 18px 4px 4px;
    font-size: 20px;
    font-weight: bold;
}

.gray-buttons{
    margin-left: 100px;
    background-color: lightgray;    
}

